<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @song.tags %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
